<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="eDrive" value="E:\\"/>
    <add key="dDrive" value="D:\\"/>
    <add key="NoteFilePath" value="D:\\Amardeep.txt"/>
    <add key="LogFoler" value="Logs\ProjectName\"/>
    <add key="dDriveLog" value="D:\\Logs\ReverseClaim" />
    <add key="eDriveLog" value="E:\\Log\ReverseClaim"/>
    <add key="gDriveLog" value="G:\\Log\ReverseClaim"/>
  </appSettings>

</configuration>